<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ meta.title }} · Learn With Jason</title>
    <link rel="stylesheet" href="https://use.typekit.net/jwa3agu.css" />
    <link rel="stylesheet" href="/css/global.css" />
  </head>
  <body>
    {% include header.html %}

    <main>
      {{ content }}
    </main>

    {% include footer.html %}
  </body>
</html>
