<style>
  .lwj-demo-footer {
    background: var(--black);
    color: var(--light-gray);
    font-family: var(--font-family);
    padding: 1rem 5vw;
    position: relative;
    text-align: center;
  }

  .lwj-demo-footer a {
    color: inherit;
    display: block;
    font-size: 0.75rem;
    margin: 0.5rem;
    padding: 0.5rem;
    text-decoration: none;
  }

  .lwj-demo-footer a:active,
  .lwj-demo-footer a:focus,
  .lwj-demo-footer a:hover {
    color: var(--pink-text);
  }

  .lwj-demo-footer .bottom-bar {
    animation: gradient-roll 20s linear infinite alternate;
    background-image: var(--lwj-gradient);
    background-size: 200%;
    border-bottom: 0.5px solid var(--light-gray);
    bottom: 100%;
    height: 6px;
    left: 0;
    position: absolute;
    width: 100vw;
    z-index: 5;
  }

  .lwj-demo-footer .bottom-bar::before,
  .lwj-demo-footer .bottom-bar::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100vw;
  }

  .lwj-demo-footer .bottom-bar::before {
    top: 1px;
    height: 0.5px;
    background-color: var(--light-gray);
  }

  .lwj-demo-footer .bottom-bar::after {
    top: 0;
    height: 1px;
    background-color: var(--black);
  }

  @media (min-width: 770px) {
    .lwj-demo-footer {
      padding-bottom: 0;
      padding-top: 0;
    }

    .lwj-demo-footer a {
      display: inline-block;
    }
  }
</style>

<footer class="lwj-demo-footer">
  <a href="https://www.learnwithjason.dev"
    >Created on <em>Learn With Jason</em></a
  >
  {% if meta.episode %}<a href="{{ meta.episode }}">Watch It Get Built</a>{%
  endif %}{% if meta.tutorial %}<a href="{{ meta.tutorial }}">Tutorial</a>{%
  endif %}{% if meta.repo %}<a href="https://github.com/{{ meta.repo }}"
    >Source Code</a
  >
  <a
    href="http://app.netlify.com/start/deploy?repository=https://github.com/{{ meta.repo }}?utm_source=learnwithjason&utm_medium=lwj-demo-footer-jl&utm_campaign=devex"
    >Deploy Your Own Copy</a
  >{% endif %}

  <div class="bottom-bar"></div>
</footer>
