---
layout: default

# keep it short! shown in the header
title: Demo of the Demo

# these are all optional and add links to the footer
repo: learnwithjason/demo-base
episode: https://www.learnwithjason.dev/creating-css-variable-font-text-effects
tutorial: https://codepen.io/jlengstorf/pen/QWbdLjb
---

<!-- any HTML we want can go in here, including style and script tags -->
<style>
  .wrapper {
    align-items: center;
    display: flex;
    height: 50vh;
    justify-content: center;
    min-height: 300px;
    overflow: hidden;
  }

  h2 {
    color: #fff;
    font-family: mallory, futura, arial black, sans-serif;
    font-size: 22vw;
    font-weight: 800;
    letter-spacing: -0.1em;
    line-height: 1.4;
    padding: 0 0.25em;
    text-shadow: 0.1vw 0.1vw #4f4f4f55, 0.1vw -0.1vw #4f4f4f55,
      -0.1vw 0.1vw #4f4f4f55, -0.1vw -0.1vw #4f4f4f55;
  }

  @supports ((-webkit-background-clip: text) and (-webkit-text-stroke: 5vw)) {
    h2 {
      background: linear-gradient(160deg, #d459ab 0%, #ffdf37 50%, #a6fffa 90%);
      -webkit-background-clip: text;
      -webkit-text-stroke: 3.25vw transparent;
    }
  }

  @media (min-width: 1000px) {
    h2 {
      font-size: 220px;
      -webkit-text-stroke: 32.5px transparent;
    }
  }
</style>

<h1>This Is a Demo of the Demo</h1>

<div class="wrapper">
  <h2 contenteditable spellcheck="false">boop.</h2>
</div>
